<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Producto</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Añadir Producto</h1>
    <form action="/add-product" method="POST">
        <label for="descripcion">Nombre del Producto:</label>
        <input type="text" name="nombre" placeholder="descripcion" required>

        <label for="ubicacion">Ubicacion:</label>
        <input type="number" name="nombre" placeholder="ubicacion" required>

        <label for="cantidad">Cantidad:</label>
        <input type="number" name="nombre" placeholder="cantidad" required>

        <button type="submit">Añadir Producto</button>
    </form>
</body>
</html>